@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-r from-gray-900 via-gray-800 to-pink-600   relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom right, rgba(255, 255, 255, 0.1), transparent);
  background-size: 15px 15px, cover;
  animation: moveDots 10s linear infinite,
    fadeOverlay 15s ease-in-out infinite alternate;
  z-index: 0;
}

@keyframes moveDots {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 30px;
  }
}

@keyframes fadeOverlay {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}
